.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
.checkstyle/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
CATALINA.LOGSDIR_IS_UNDEFINED/*
CATALINA.LOGSDIR_IS_UNDEFINED*
catalina.home_IS_UNDEFINED*
catalina.home_IS_UNDEFINED/*
/bin/
/logs/*
.factorypath